<div id="content_container_795340">
    <div class="asset trim- relative layer-0 blue-background" data-layout-name="Article" id="tiles-tiles-tiles" aria-labelledby="page-tab-2" data-name="Tiles tiles tiles" role="tabpanel" data-slide-active="1" aria-hidden="false">
        <div class="inner full-height">
            <div class="master-wrap relative full-height page-content">
                <div class="width-50 tablet-width-66 relative margin-auto">
                    <div class="relative top left large-padding vertical-padding">
                        <div class="padding no-mobile"></div>
                        <div class="small-padding mobile-only"></div>
                        <div class="padding center large-headline relative">
                            <div class="absolute always-middle-of-parent border-top untrim right left"></div>
                            <div class="absolute always-middle-of-parent circle untrim -background inline-block margin-auto">
                                <div>
                                    <i class="fa fa-circle-o-notch stroke"></i>
                                </div>
                            </div>
                        </div>
                        <div class="padding"></div>
                        <h2 class="block large-headline " tabindex="0"><span class="block" data-editable="true" data-attribute="name">Tiles</span></h2>
                        <div class="padding"></div>
                        <div class="larger mobile-regular sans ">
                            <p>Tiles below</p>
                        </div>
                    </div>
                </div>



                <div class="relative">
                    <div class="white">
                        <div class="relative asset-list upload-layer" data-create="true" data-type="news_item" data-list-style="Tiles">
                            <ul class="no-list child-list flex-list tiles load-in-ani">
                                <li class="asset relative inline-block flex-item tile width-25 mobile-block flex-item transparent-background slided" data-status="live" data-set-btm="0px" style="transition: initial; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                    <div class="outer relative full-width">
                                        <a href="">
                                            <div class="inner small-padding mobile-no-padding">
                                                <div class="untrim small-padding"></div>
                                                <div class="align-left">
                                                    <div class="background-image cover column-list-thumbnail no-rounding-bottom-right no-rounding-bottom-left relative off-white-background loaded" style="background-image: url(https://monash.edu/_pear/dev/media/744235-744235-monash-university-undergraduate.jpg);">
                                                    </div>
                                                    <div class="small-padding"></div>
                                                    <div class="mobile-no-padding large-round-corners no-rounding-top-right no-rounding-top-left">
                                                        <h3><span class="block larger default-untrim no-background serif">First tile</span></h3>
                                                        <p><span class="block sans large mobile-regular">Lorum ipsum</span></p>
                                                        <div class="absolute bottom right left mobile-relative">

                                                            <div class="padding no-mobile"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>

                                <li class="asset relative inline-block flex-item tile width-25 mobile-block flex-item transparent-background slided" data-status="live" data-set-btm="0px" style="transition: initial; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                    <div class="outer relative full-width">
                                        <a href="">
                                            <div class="inner small-padding mobile-no-padding">
                                                <div class="untrim small-padding"></div>
                                                <div class="align-left">
                                                    <div class="background-image cover column-list-thumbnail no-rounding-bottom-right no-rounding-bottom-left relative off-white-background loaded" style="background-image: url(https://monash.edu/_pear/dev/media/744236-744236-monash-university-graduate.jpg);"></div>
                                                    <div class="small-padding"></div>
                                                    <div class="mobile-no-padding large-round-corners no-rounding-top-right no-rounding-top-left">
                                                        <h3><span class="block larger default-untrim no-background serif">Asdasd asd a</span></h3>
                                                        <p><span class="block sans large mobile-regular"></span></p>
                                                        <div class="absolute bottom right left mobile-relative">

                                                            <div class="padding no-mobile"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>


                                <li class="asset relative inline-block flex-item tile width-25 mobile-block flex-item transparent-background slided" data-status="live" data-set-btm="0px" style="transition: initial; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                    <div class="outer relative full-width">
                                        <a href="">
                                            <div class="inner small-padding mobile-no-padding">
                                                <div class="untrim small-padding"></div>
                                                <div class="align-left">
                                                    <div class="background-image cover column-list-thumbnail no-rounding-bottom-right no-rounding-bottom-left relative off-white-background loaded" style="background-image: url(https://monash.edu/_pear/dev/media/740583-740583-Monash-research.jpg);"></div>
                                                    <div class="small-padding"></div>
                                                    <div class="mobile-no-padding large-round-corners no-rounding-top-right no-rounding-top-left">
                                                        <h3><span class="block larger default-untrim no-background serif">GAdw ASD asd a</span></h3>
                                                        <p><span class="block sans large mobile-regular"></span></p>
                                                        <div class="absolute bottom right left mobile-relative">

                                                            <div class="padding no-mobile"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="padding"></div>
                        <div class="padding vertical-padding center no-mobile load-in-ani">
                            <a href="#" class="one-pager-next-link inline-block larger button-padding small-round-corners no-underline -background blue trim no-mobile slided" aria-controls="page-section-3" data-set-btm="auto" style="transition: initial; opacity: 1; transform: translate3d(0px, 0px, 0px);"><i class="fa fa-arrow-down"></i><span>Keep scrolling</span></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>