<div id="content_container_795340">
    <div id="blocks" class="asset trim- relative layer-0 no-overflow" data-asset="821837" data-name="Blocks" data-layout-name="" data-status="under_construction">

        <div class="inner full-height trans-white-background">
            <div class="master-wrap relative full-height page-content layer-1">
                <div class="padding"></div>
                <div class="tall-padding relative black">
                    <div class="width-66 margin-auto">
                        <h2 class="block center large-headline" data-editable="true" data-attribute="name" tabindex="0">Blocks</h2>
                    </div>
                    <div class="tall-padding">
                        <div class="larger mobile-regular sans ">
                            <p>
                                <p>Blocks go here</p>
                            </p>
                        </div>
                        <div class="standard-horizontal-sly relative helper">
                            <ul class="no-list tab-menu align-left small no-wrap"></ul>
                        </div>
                        <ul class="no-list child-list blocks load-in-ani">
                            <li class="asset relative float-left mobile-float-none inline-block perfect-square width-33 phablet-half-width trim- transition use-hardware no-overflow" data-asset="820487" data-status="under_construction">
                                <div class="outer relative full-width full-height transition">

                                    <a href="//www.google.com">

                                        <div class="absolute top right bottom left  blue-background"></div>
                                        <div class="absolute top right bottom left transparent link-highlight transition">
                                            <div class="absolute top right bottom left almost-trans-black-background"></div>
                                        </div>

                                        <div class="background-image cover absolute top right bottom left medium-transition use-hardware reveal-on-hover inset-shadow no-click" style="background-image:url(https://monash.edu/_pear/dev/media/740603-740603-monash-tuscany.jpg);">
                                        </div>

                                        <!--<div class="absolute top right bottom left almost-black-background almost-transparent"></div> -->
                                        <div class="inner absolute bottom right left trans-black-lower-gradient-background">
                                            <div class="align-right small-padding width-66 float-right">
                                                <div class="mobile-no-padding">
                                                    <div class="relative">

                                                        <h3><span class="block large promo thin white text-shadow">Applications open</span></h3>

                                                        <div class="padding mobile-only"></div>

                                                        <div class="tiny-padding"></div>
                                                    </div>
                                                    <!--
                        <div class="width-15 inline-block absolute top right bottom">
                            <div class="absolute always-middle-of-parent white larger tiny-padding">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                        -->
                                                </div>
                                            </div>
                                        </div>



                                    </a>

                                    </a>
                                </div>
                            </li>
                            <li class="asset relative float-left mobile-float-none inline-block perfect-square width-33 phablet-half-width trim- transition use-hardware no-overflow" data-asset="820488" data-status="under_construction">
                                <div class="outer relative full-width full-height transition">

                                    <a href="//www.https://monash.edu/_pear/dev/gallery-test">

                                        <div class="absolute top right bottom left  blue-background"></div>
                                        <div class="absolute top right bottom left transparent link-highlight transition">
                                            <div class="absolute top right bottom left almost-trans-black-background"></div>
                                        </div>

                                        <div class="background-image cover absolute top right bottom left medium-transition use-hardware reveal-on-hover inset-shadow no-click" style="background-image:url(https://monash.edu/_pear/dev/media/740583-740583-Monash-research.jpg/small.jpg);">
                                        </div>

                                        <!--<div class="absolute top right bottom left almost-black-background almost-transparent"></div> -->
                                        <div class="inner absolute bottom right left trans-black-lower-gradient-background">
                                            <div class="align-right small-padding width-66 float-right">
                                                <div class="mobile-no-padding">
                                                    <div class="relative">

                                                        <h3><span class="block large promo thin white text-shadow">Applications close</span></h3>

                                                        <div class="padding mobile-only"></div>

                                                        <div class="tiny-padding"></div>
                                                    </div>
                                                    <!--
                        <div class="width-15 inline-block absolute top right bottom">
                            <div class="absolute always-middle-of-parent white larger tiny-padding">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                        -->
                                                </div>
                                            </div>
                                        </div>



                                    </a>

                                    </a>
                                </div>
                            </li>
                            <li class="asset relative float-left mobile-float-none inline-block perfect-square width-33 phablet-half-width trim- transition use-hardware no-overflow" data-asset="820489" data-status="under_construction">
                                <div class="outer relative full-width full-height transition">

                                    <a href="//www.https://www.monash.edu">

                                        <div class="absolute top right bottom left  blue-background"></div>
                                        <div class="absolute top right bottom left transparent link-highlight transition">
                                            <div class="absolute top right bottom left almost-trans-black-background"></div>
                                        </div>

                                        <div class="background-image cover absolute top right bottom left medium-transition use-hardware reveal-on-hover inset-shadow no-click" style="background-image:url(https://monash.edu/_pear/dev/media/740583-740583-Monash-research.jpg/small.jpg);">
                                        </div>

                                        <!--<div class="absolute top right bottom left almost-black-background almost-transparent"></div> -->
                                        <div class="inner absolute bottom right left trans-black-lower-gradient-background">
                                            <div class="align-right small-padding width-66 float-right">
                                                <div class="mobile-no-padding">
                                                    <div class="relative">

                                                        <h3><span class="block large promo thin white text-shadow">Shortlist interviews</span></h3>

                                                        <div class="padding mobile-only"></div>

                                                        <div class="tiny-padding"></div>
                                                    </div>
                                                    <!--
                        <div class="width-15 inline-block absolute top right bottom">
                            <div class="absolute always-middle-of-parent white larger tiny-padding">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                        -->
                                                </div>
                                            </div>
                                        </div>



                                    </a>

                                    </a>
                                </div>
                            </li>
                            <li class="asset relative float-left mobile-float-none inline-block perfect-square width-33 phablet-half-width trim- transition use-hardware no-overflow" data-asset="820490" data-status="under_construction">
                                <div class="outer relative full-width full-height transition">

                                    <div class="absolute top right bottom left  blue-background"></div>
                                    <div class="absolute top right bottom left transparent link-highlight transition">
                                        <div class="absolute top right bottom left almost-trans-black-background"></div>
                                    </div>

                                    <div class="absolute always-middle-of-parent center white">
                                        <div class="large-headline">
                                            <span data-editable="true" data-metadata-field-id="482468" data-save-to="820490" class="fa fa-bookmark"></span>
                                        </div>
                                        <div class="padding">
                                            <h3><span class="block large promo thin white text-shadow" data-editable="true" data-attribute="name" data-save-to="820490">Participants announced</span></h3>
                                        </div>
                                    </div>



                                    </a>
                                </div>
                            </li>
                            <li class="asset relative float-left mobile-float-none inline-block perfect-square width-33 phablet-half-width trim- transition use-hardware no-overflow" data-asset="820491" data-status="under_construction">
                                <div class="outer relative full-width full-height transition">

                                    <div class="absolute top right bottom left  blue-background"></div>
                                    <div class="absolute top right bottom left transparent link-highlight transition">
                                        <div class="absolute top right bottom left almost-trans-black-background"></div>
                                    </div>

                                    <div class="absolute always-middle-of-parent center white">
                                        <div class="large-headline">
                                            <span data-editable="true" data-metadata-field-id="482468" data-save-to="820491" class="fa fa-bookmark"></span>
                                        </div>
                                        <div class="padding">
                                            <h3><span class="block large promo thin white text-shadow" data-editable="true" data-attribute="name" data-save-to="820491">Student briefing day (compulsory)</span></h3>
                                        </div>
                                    </div>



                                    </a>
                                </div>
                            </li>
                            <li class="asset relative float-left mobile-float-none inline-block perfect-square width-33 phablet-half-width trim- transition use-hardware no-overflow" data-asset="820492" data-status="under_construction">
                                <div class="outer relative full-width full-height transition">

                                    <div class="absolute top right bottom left  blue-background"></div>
                                    <div class="absolute top right bottom left transparent link-highlight transition">
                                        <div class="absolute top right bottom left almost-trans-black-background"></div>
                                    </div>

                                    <div class="absolute always-middle-of-parent center white">
                                        <div class="large-headline">
                                            <span data-editable="true" data-metadata-field-id="482468" data-save-to="820492" class="fa fa-bookmark"></span>
                                        </div>
                                        <div class="padding">
                                            <h3><span class="block large promo thin white text-shadow" data-editable="true" data-attribute="name" data-save-to="820492">Depart Melbourne</span></h3>
                                        </div>
                                    </div>



                                    </a>
                                </div>
                            </li>
                            <li class="asset relative float-left mobile-float-none inline-block perfect-square width-33 phablet-half-width trim- transition use-hardware no-overflow" data-asset="820493" data-status="under_construction">
                                <div class="outer relative full-width full-height transition">

                                    <div class="absolute top right bottom left  blue-background"></div>
                                    <div class="absolute top right bottom left transparent link-highlight transition">
                                        <div class="absolute top right bottom left almost-trans-black-background"></div>
                                    </div>

                                    <div class="absolute always-middle-of-parent center white">
                                        <div class="large-headline">
                                            <span data-editable="true" data-metadata-field-id="482468" data-save-to="820493" class="fa fa-bookmark"></span>
                                        </div>
                                        <div class="padding">
                                            <h3><span class="block large promo thin white text-shadow" data-editable="true" data-attribute="name" data-save-to="820493">Depart New York City</span></h3>
                                        </div>
                                    </div>



                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>