<div id="content_container_795340">
    <div id="call-to-action" class="asset trim-Blue relative layer-0 no-overflow use-hardware" style="margin:-1px;" data-layout-name="Call to Action" data-name="Call to action" aria-labelledby="page-tab-822718" role="tabpanel" data-slide-active="1" aria-hidden="false">
        <div class="inner full-height">
            <div class="absolute top right bottom left background-image cover large-padding layer-0 no-click trim loaded" style="background-image:url(./?a=:v2);" data-background="background-image:url(./?a=:v2);" data-upload="true">
            </div>
            <div class="absolute top right bottom left no-click almost-transparent black-background layer-1 use-hardware"></div>
            <div class="tall-padding no-mobile"></div>
            <div class="tall-padding"></div>
            <div class="tall-padding mobile-only"></div>
            <div class="tall-padding mobile-only"></div>
            <div class="master-wrap relative full-height page-content layer-1 use-hardware mobile-initial load-in-ani">
                <div class="width-66 relative padding mobile-no-padding margin-auto load-in-ani">
                    <div class="relative top left small-padding trans-black-background large-round-corners mobile-square-corners mobile-no-padding">
                        <div class="padding relative">
                            <div class="small-padding mobile-only"></div>
                            <h2 class="block large-headline white  " data-editable="true" data-attribute="name" tabindex="0">Call to action</h2>
                            <div class="padding no-mobile"></div>
                            <div class="width-33 white border-top no-mobile"></div>
                            <div class="larger sans white">


                                <p>
                                    <p>Content goes here</p>
                                </p>

                            </div>
                            <div class="padding"></div>

                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="block center one-pager-next-link inline-block bold larger mobile-smaller padding small-round-corners no-underline trim white slided" aria-controls="page-section-2" data-set-btm="auto" style="transition: initial; opacity: 1; transform: translate3d(0px, 0px, 0px);">

                                <i class="fa fa-arrow-right"></i><span>A button</span></a>

                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tall-padding no-mobile"></div>
            <div class="tall-padding no-mobile"></div>
        </div>

    </div>
</div>

<div id="content_container_795340">
    <div id="rows-rows-rows" class="asset trim-Fuscia relative layer-0 no-overflow" data-name="Rows Rows Rows" data-layout-name="">

        <div class="inner full-height trans-black-background">
            <div class="master-wrap relative full-height page-content layer-1">
                <div class="padding"></div>
                <div class="tall-padding relative white">
                    <div class="width-66 margin-auto">
                        <h2 class="block center large-headline" data-editable="true" data-attribute="name" tabindex="0">Rows Rows Rows</h2>
                    </div>
                    <div class="tall-padding">
                        <div class="larger mobile-regular sans ">
                            <p>
                                <p>This is a row container</p>
                            </p>
                        </div>
                        <ul class="no-list child-list columns-three load-in-ani">
                            <li class="asset align-left relative">
                                <div class="small-padding mobile-tiny-padding vertical-padding">
                                    <div class="small-padding horizontal-padding mobile-no-padding">
                                        <div class="mobile-tiny-padding">
                                            <div class="outer outline-shadow small-round-corners relative">

                                                <a href="google.com" class="block white-background small-round-corners linked">

                                                    <div class="inner">
                                                        <div class="black relative">
                                                            <div class="absolute top right bottom left white-background almost-opaque small-round-corners"></div>
                                                            <div class="width-15 inline-block absolute top bottom left">
                                                                <div class="background-image relative full-height blue-background cover" style="background-image:url(https://monash.edu/_pear/dev/media/740603-740603-monash-tuscany.jpg);">
                                                                    <div class="absolute almost-trans-white-background top right bottom left">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="width-85 relative left-15 inline-block black">
                                                                <div class="padding black">
                                                                    <span class="block modern-sans bold">Applications open</span>
                                                                    <p><span class="block sans black">9am, Monday 3 April 2017</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="absolute top right small-padding black"><i class="fa fa-external-link"></i></div>

                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="asset align-left relative">
                                <div class="small-padding mobile-tiny-padding vertical-padding">
                                    <div class="small-padding horizontal-padding mobile-no-padding">
                                        <div class="mobile-tiny-padding">
                                            <div class="outer outline-shadow small-round-corners relative">

                                                <a href="https://monash.edu/_pear/dev/gallery-test" class="block white-background small-round-corners linked">

                                                    <div class="inner">
                                                        <div class="black relative">
                                                            <div class="absolute top right bottom left white-background almost-opaque small-round-corners"></div>
                                                            <div class="width-15 inline-block absolute top bottom left">
                                                                <div class="background-image relative full-height blue-background cover" style="background-image:url(https://monash.edu/_pear/dev/media/740583-740583-Monash-research.jpg/small.jpg);">
                                                                    <div class="absolute almost-trans-white-background top right bottom left">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="width-85 relative left-15 inline-block black">
                                                                <div class="padding black">
                                                                    <span class="block modern-sans bold">Applications close</span>
                                                                    <p><span class="block sans black">12pm (noon), Friday 28 April 2017</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="absolute top right small-padding black"><i class="fa fa-external-link"></i></div>

                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="asset align-left relative">
                                <div class="small-padding mobile-tiny-padding vertical-padding">
                                    <div class="small-padding horizontal-padding mobile-no-padding">
                                        <div class="mobile-tiny-padding">
                                            <div class="outer outline-shadow small-round-corners relative">

                                                <a href="https://www.monash.edu" class="block white-background small-round-corners linked">

                                                    <div class="inner">
                                                        <div class="black relative">
                                                            <div class="absolute top right bottom left white-background almost-opaque small-round-corners"></div>
                                                            <div class="width-15 inline-block absolute top bottom left">
                                                                <div class="background-image relative full-height blue-background cover" style="background-image:url(https://monash.edu/_pear/dev/media/740583-740583-Monash-research.jpg/small.jpg);">
                                                                    <div class="absolute almost-trans-white-background top right bottom left">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="width-85 relative left-15 inline-block black">
                                                                <div class="padding black">
                                                                    <span class="block modern-sans bold">Shortlist interviews</span>
                                                                    <p><span class="block sans black">1-12 May 2017</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="absolute top right small-padding black"><i class="fa fa-external-link"></i></div>

                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="asset align-left relative">
                                <div class="small-padding mobile-tiny-padding vertical-padding">
                                    <div class="small-padding horizontal-padding mobile-no-padding">
                                        <div class="mobile-tiny-padding">
                                            <div class="outer outline-shadow small-round-corners relative">

                                                <div class="inner">
                                                    <div class="black relative">
                                                        <div class="absolute top right bottom left white-background almost-opaque small-round-corners"></div>
                                                        <div class="width-15 inline-block absolute top bottom left">
                                                            <div class="background-image relative full-height blue-background cover" style="background-image:url();">
                                                                <div class="absolute almost-trans-white-background top right bottom left">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="width-85 relative left-15 inline-block black">
                                                            <div class="padding black">
                                                                <span class="block modern-sans bold">Participants announced</span>
                                                                <p><span class="block sans black">Week beginning Monday 22 May 2017</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="asset align-left relative">
                                <div class="small-padding mobile-tiny-padding vertical-padding">
                                    <div class="small-padding horizontal-padding mobile-no-padding">
                                        <div class="mobile-tiny-padding">
                                            <div class="outer outline-shadow small-round-corners relative">

                                                <div class="inner">
                                                    <div class="black relative">
                                                        <div class="absolute top right bottom left white-background almost-opaque small-round-corners"></div>
                                                        <div class="width-15 inline-block absolute top bottom left">
                                                            <div class="background-image relative full-height blue-background cover" style="background-image:url();">
                                                                <div class="absolute almost-trans-white-background top right bottom left">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="width-85 relative left-15 inline-block black">
                                                            <div class="padding black">
                                                                <span class="block modern-sans bold">Student briefing day (compulsory)</span>
                                                                <p><span class="block sans black">TBC. Week beginning Monday 19 June 2017</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="asset align-left relative">
                                <div class="small-padding mobile-tiny-padding vertical-padding">
                                    <div class="small-padding horizontal-padding mobile-no-padding">
                                        <div class="mobile-tiny-padding">
                                            <div class="outer outline-shadow small-round-corners relative">

                                                <div class="inner">
                                                    <div class="black relative">
                                                        <div class="absolute top right bottom left white-background almost-opaque small-round-corners"></div>
                                                        <div class="width-15 inline-block absolute top bottom left">
                                                            <div class="background-image relative full-height blue-background cover" style="background-image:url();">
                                                                <div class="absolute almost-trans-white-background top right bottom left">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="width-85 relative left-15 inline-block black">
                                                            <div class="padding black">
                                                                <span class="block modern-sans bold">Depart Melbourne</span>
                                                                <p><span class="block sans black">Saturday 24 June 2017</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="asset align-left relative">
                                <div class="small-padding mobile-tiny-padding vertical-padding">
                                    <div class="small-padding horizontal-padding mobile-no-padding">
                                        <div class="mobile-tiny-padding">
                                            <div class="outer outline-shadow small-round-corners relative">

                                                <div class="inner">
                                                    <div class="black relative">
                                                        <div class="absolute top right bottom left white-background almost-opaque small-round-corners"></div>
                                                        <div class="width-15 inline-block absolute top bottom left">
                                                            <div class="background-image relative full-height blue-background cover" style="background-image:url();">
                                                                <div class="absolute almost-trans-white-background top right bottom left">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="width-85 relative left-15 inline-block black">
                                                            <div class="padding black">
                                                                <span class="block modern-sans bold">Depart New York City</span>
                                                                <p><span class="block sans black">Sunday 2 July 2017 (subject to flight availability)</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>