<div class="asset trim-Umber relative layer-0 no-overflow" data-layout-name="Cards" data-name="Content Container 868341" id="content-container-868341">
    <div class="inner full-height trans-black-background">
        <div class="master-wrap relative full-height page-content layer-1">
            <div class="padding"></div>
            <div class="width-50 tablet-width-66 relative margin-auto">
                <div class="padding center large-headline relative">
                    <div class="absolute always-middle-of-parent border-top untrim right left"></div>
                    <div class="absolute always-middle-of-parent circle untrim black-background inline-block margin-auto">
                        <div>
                            <i class="fa fa-asl-interpreting stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tall-padding relative white">
                <div class="width-50 tablet-width-66 relative margin-auto">
                    <h2 class="block center large-headline" data-attribute="name" data-editable="true" tabindex="0">Cards layout</h2>
                    <div class="tall-padding">
                        <div class="larger mobile-regular sans center">
                            <p>
                                <p>Cards are a great tool for
                                    <em>communicating quick stories</em>.</p>
                            </p>
                        </div>
                    </div>
                </div>
                <ul class="no-list child-list columns-three load-in-ani">
                    <li class="asset relative card-item">
                        <div class="outer">
                            <div class="inner small-padding">
                                <div class="large-round-corners outline-shadow align-left relative">
                                    <a class="block white-background large-round-corners no-underline" href="">
                                        <div class="absolute top right bottom left white-background almost-opaque large-round-corners"></div>
                                        <div class="background-image column-list-thumbnail semi-trans-white-background large-round-corners no-rounding-bottom-right no-rounding-bottom-left relative cover" data-background="background-image:url(https://www.monash.edu/__data/assets/image/0003/817644/monash-tuscany.jpg"></div>
                                        <div class="black padding large-round-corners no-rounding-top-right no-rounding-top-left relative" data-background="background-image:url(%asset_metadata_Tile.Image.01);">
                                            <h4>
                                                <span class="block large">Cards one</span>
                                            </h4>
                                            <p>
                                                <span class="block sans black">lorum ipsum</span>
                                            </p>
                                            <div class="small-padding no-mobile"></div>
                                            <div class="default-untrim relative no-background block large bold border-top">
                                                <div class="small-padding smaller"></div>
                                                <div class="width-85 inline-block">
                                                    <span>Learn more</span>
                                                </div>
                                                <div class="absolute right no-padding inline-block">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="tiny-padding"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="asset relative card-item">
                        <div class="outer">
                            <div class="inner small-padding">
                                <div class="large-round-corners outline-shadow align-left relative">
                                    <a class="block white-background large-round-corners no-underline" href="">
                                        <div class="absolute top right bottom left white-background almost-opaque large-round-corners"></div>
                                        <div class="background-image column-list-thumbnail semi-trans-white-background large-round-corners no-rounding-bottom-right no-rounding-bottom-left relative cover" data-background="background-image:url(https://www.monash.edu/__data/assets/image/0011/817643/Monash-research.jpg"></div>
                                        <div class="black padding large-round-corners no-rounding-top-right no-rounding-top-left relative" data-background="background-image:url(%asset_metadata_Tile.Image.02);">
                                            <h4>
                                                <span class="block large">Card two</span>
                                            </h4>
                                            <p>
                                                <span class="block sans black">Content</span>
                                            </p>
                                            <div class="small-padding no-mobile"></div>
                                            <div class="default-untrim relative no-background block large bold border-top">
                                                <div class="small-padding smaller"></div>
                                                <div class="width-85 inline-block">
                                                    <span>Learn more</span>
                                                </div>
                                                <div class="absolute right no-padding inline-block">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="tiny-padding"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="asset relative card-item">
                        <div class="outer">
                            <div class="inner small-padding">
                                <div class="large-round-corners outline-shadow align-left relative">
                                    <a class="block white-background large-round-corners no-underline" href="./?a=">
                                        <div class="absolute top right bottom left white-background almost-opaque large-round-corners"></div>
                                        <div class="background-image column-list-thumbnail semi-trans-white-background large-round-corners no-rounding-bottom-right no-rounding-bottom-left relative cover" data-background="background-image:url(https://www.monash.edu/__data/assets/image/0010/817642/monash-university-graduate.jpg"></div>
                                        <div class="black padding large-round-corners no-rounding-top-right no-rounding-top-left relative">
                                            <h4>
                                                <span class="block large">Card three</span>
                                            </h4>
                                            <p>
                                                <span class="block sans black">Content</span>
                                            </p>
                                            <div class="small-padding no-mobile"></div>
                                            <div class="default-untrim relative no-background block large bold border-top">
                                                <div class="small-padding smaller"></div>
                                                <div class="width-85 inline-block">
                                                    <span>Learn more</span>
                                                </div>
                                                <div class="absolute right no-padding inline-block">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="tiny-padding"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="padding vertical-padding center load-in-ani">
                <a class="one-pager-next-link inline-block bold larger mobile-smaller padding max-width-75 small-round-corners trim no-underline white-background black no-mobile" href="#">
                    <i class="fa fa-glide"></i>
                    <span>Activate more cards</span>
                </a>
            </div>
        </div>
    </div>
</div>