<div class="asset trim- relative no-overflow layer-0 use-hardware" data-asset="750300" data-name="About Melbourne" data-layout-name="Columns" data-style-field="506340" data-status="live" id="page-section-6" aria-labelledby="page-tab-6" role="tabpanel"
    data-slide-active="0" aria-hidden="true">
    <div class="inner full-height">
        <div class="absolute top right bottom left background-image cover large-padding no-click" style="" data-upload="true" data-background="background-image:url(https://www.monash.edu/__data/assets/image/0007/752587/varieties/medium.jpg);"></div>
        <div class="relative page-content trans-white-gradient-background layer-1 use-hardware">
            <div class="tall-padding"></div>
            <div class="padding mobile-only"></div>
            <div class="full-height large-padding mobile-no-padding">
                <div class="relative padding">
                    <div class="relative layer-1 center large-headline"><span class="largerer untrim" data-editable="true" data-metadata-field-id="482468" data-save-to="750300"><i class="fa fa-map-pin stroke"></i></span></div>
                    <div class="relative top left black">
                        <div class="master-wrap mobile-initial">
                            <div class="padding untrim width-33 mobile-initial margin-auto"></div>
                            <h2 class="block large-headline center" tabindex="0"><span data-editable="true" data-attribute="name" class="inline-block width-50 margin-auto">Melbourne, the world's most liveable city*</span></h2>
                            <div class="small-padding"></div>
                            <div class="large-padding no-mobile"></div>
                            <div class="larger sans width-85 mobile-initial margin-auto">
                                <div class="columns-two" id="content_container_750307">
                                    <div>Monash University is located in Melbourne, the cultural hub of Australia. Consistently voted the World’s Most Liveable City*, you’ll find Melbourne an exciting, culturally diverse and safe place to live and study.</div>
                                    <p>We’re located in the Southern Hemisphere, so semester starts in February in the Australian summer.</p>
                                    <p>Choose from a range of accomodation options, including <a href="http://www.monash.edu/accommodation/accommodation/on-campus-options" target="_blank">on-campus</a> and <a href="http://www.monash.edu/accommodation/accommodation/off-campus-options"
                                            target="_blank">off-campus</a>.</p>
                                    <p>Melbourne hosts a range of international events, including the International Comedy Festival, and the Melbourne International Film Festival.</p>
                                    <p>Melbourne also makes the perfect base to visit Australia’s other natural wonders like the Great Barrier Reef in Queensland, Ayers Rock in central Australia, and the beautiful beaches of the east and west coasts.&nbsp;&nbsp;It
                                        is also a great starting point to explore the Oceanic and South East&nbsp;&nbsp;Asia&nbsp;&nbsp;regions.</p>
                                    <p style="font-size:70%;"><strong data-redactor-tag="strong">*Economist Intelligence Unit 2011–2016</strong></p>
                                </div>
                            </div>
                            <div class="padding vertical-padding center">
                                <div class="padding no-mobile"></div>
                                <div class="relative asset-list upload-layer" data-asset="750300" data-result-layout="700118" data-create="true" data-type="news_item" data-layout-field="514410" data-list-style="Blocks">
                                    <ul class="no-list child-list blocks load-in-ani">
                                        <li class="asset relative float-left mobile-float-none inline-block perfect-square width-50 phablet-half-width trim- transition use-hardware no-overflow" data-asset="750666" data-status="live" data-set-btm="0px" style="transition: initial;">
                                            <div class="outer relative full-width full-height transition">
                                                <div class="test">
                                                    <div class="absolute top right bottom left blue-background"></div>
                                                    <div class="absolute top right bottom left transparent link-highlight transition">
                                                        <div class="absolute top right bottom left almost-trans-black-background"></div>
                                                    </div>
                                                    <div class="background-image cover absolute top right bottom left medium-transition use-hardware reveal-on-hover inset-shadow no-click" data-upload="true" data-background="background-image:url(https://www.monash.edu/__data/assets/image/0009/750969/varieties/medium.jpg);"
                                                        data-asset="750666"></div>
                                                    <div class="inner absolute bottom right left trans-black-lower-gradient-background">
                                                        <div class="align-right small-padding width-66 float-right">
                                                            <div class="mobile-no-padding">
                                                                <div class="relative">
                                                                    <h3><span class="block large promo thin white text-shadow" data-editable="true" data-attribute="name" data-save-to="750666">Melbourne CBD really comes to life at night</span></h3>
                                                                    <div class="tiny-padding"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="asset relative float-left mobile-float-none inline-block perfect-square width-50 phablet-half-width trim- transition use-hardware no-overflow" data-asset="752552" data-status="live" data-set-btm="0px"
                                            style="transition: initial;">
                                            <div class="outer relative full-width full-height transition">
                                                <div class="test">
                                                    <div class="absolute top right bottom left blue-background"></div>
                                                    <div class="absolute top right bottom left transparent link-highlight transition">
                                                        <div class="absolute top right bottom left almost-trans-black-background"></div>
                                                    </div>
                                                    <div class="background-image cover absolute top right bottom left medium-transition use-hardware reveal-on-hover inset-shadow no-click" data-upload="true" data-background="background-image:url(https://www.monash.edu/__data/assets/image/0003/752556/varieties/medium.jpg);"
                                                        data-asset="752552"></div>
                                                    <div class="inner absolute bottom right left trans-black-lower-gradient-background">
                                                        <div class="align-right small-padding width-66 float-right">
                                                            <div class="mobile-no-padding">
                                                                <div class="relative">
                                                                    <h3><span class="block large promo thin white text-shadow" data-editable="true" data-attribute="name" data-save-to="752552">The Royal Botanic Gardens is a beautiful respite in the heart of Melbourne</span></h3>
                                                                    <div
                                                                        class="tiny-padding"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                </li>
                                <li class="asset relative float-left mobile-float-none inline-block perfect-square width-50 phablet-half-width trim- transition use-hardware no-overflow" data-asset="752795" data-status="live" data-set-btm="0px" style="transition: initial;">
                                    <div class="outer relative full-width full-height transition">
                                        <div class="test">
                                            <div class="absolute top right bottom left blue-background"></div>
                                            <div class="absolute top right bottom left transparent link-highlight transition">
                                                <div class="absolute top right bottom left almost-trans-black-background"></div>
                                            </div>
                                            <div class="background-image cover absolute top right bottom left medium-transition use-hardware reveal-on-hover inset-shadow no-click" data-upload="true" data-background="background-image:url(https://www.monash.edu/__data/assets/image/0009/752796/varieties/medium.jpg);"
                                                data-asset="752795"></div>
                                            <div class="inner absolute bottom right left trans-black-lower-gradient-background">
                                                <div class="align-right small-padding width-66 float-right">
                                                    <div class="mobile-no-padding">
                                                        <div class="relative">
                                                            <h3><span class="block large promo thin white text-shadow" data-editable="true" data-attribute="name" data-save-to="752795">Brighton Beach, with it's famous 'beach boxes'</span></h3>
                                                            <div class="tiny-padding"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset relative float-left mobile-float-none inline-block perfect-square width-50 phablet-half-width trim- transition use-hardware no-overflow" data-asset="752798" data-status="live" data-set-btm="0px" style="transition: initial;">
                                    <div class="outer relative full-width full-height transition">
                                        <div class="test">
                                            <div class="absolute top right bottom left blue-background"></div>
                                            <div class="absolute top right bottom left transparent link-highlight transition">
                                                <div class="absolute top right bottom left almost-trans-black-background"></div>
                                            </div>
                                            <div class="background-image cover absolute top right bottom left medium-transition use-hardware reveal-on-hover inset-shadow no-click" data-upload="true" data-background="background-image:url(https://www.monash.edu/__data/assets/image/0012/752799/varieties/medium.jpg);"
                                                data-asset="752798"></div>
                                            <div class="inner absolute bottom right left trans-black-lower-gradient-background">
                                                <div class="align-right small-padding width-66 float-right">
                                                    <div class="mobile-no-padding">
                                                        <div class="relative">
                                                            <h3><span class="block large promo thin white text-shadow" data-editable="true" data-attribute="name" data-save-to="752798">The iconic Flinders Street Station</span></h3>
                                                            <div class="tiny-padding"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                            <div class="padding no-mobile"></div>
                            <div class="padding"></div>
                            <div class="load-in-ani">
                                <a href="#" class="one-pager-next-link inline-block larger button-padding small-round-corners no-underline black-background white no-mobile" aria-controls="page-section-7" data-set-btm="auto" style="transition: initial;"><i class="fa fa-arrow-down"></i><span>Finance options</span></a>
                            </div>
                            <div class="padding no-mobile"></div>
                            <div class="padding no-mobile"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>