<div id="content_container_795340">
    <div id="gallery" class="asset trim- relative layer-0 no-overflow" role="tabpanel" data-name="Campus life">
        <div class="inner full-height trans-white-background">
            <div class="master-wrap relative full-height page-content layer-1">
                <div class="padding"></div>
                <div class="tall-padding relative black">
                    <div class="width-66 margin-auto">
                        <h2 class="block center large-headline" data-editable="true" data-attribute="name" tabindex="0">Campus life</h2>
                    </div>
                    <div class="tall-padding">
                        <div class="standard-horizontal-sly" role="grid" style="overflow: hidden;">
                            <ul class="no-list no-wrap load-in-ani asset-list" id="gallery-741375" role="row" data-asset="741375" data-result-layout="501631" data-upload="true" style="transform: translateZ(0px); width: 10440px;">
                                <li class="asset inline-block wrap active" data-asset="746721" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0009/746721/varieties/medium.jpg" alt="" data-width="7360" data-height="4912" tabindex="0" style="width: 575.375px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="746721">Green Chemical Futures, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="746690" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0005/746690/varieties/medium.jpg" alt="" data-width="4600" data-height="2882" tabindex="0" style="width: 612.908px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="746690">Turner Hall, Clayton Urban Community, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="746696" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0011/746696/varieties/medium.jpg" alt="" data-width="7360" data-height="4912" tabindex="0" style="width: 575.375px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="746696">CAVE2, New Horizons, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="746748" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0009/746748/varieties/medium.jpg" alt="" data-width="8517" data-height="5678" tabindex="0" style="width: 576px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="746748">New Horizons, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="744500" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0020/744500/varieties/medium.jpg" alt="" data-width="400" data-height="267" tabindex="0" style="width: 575.281px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="744500">Monash University students</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="741748" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0004/741748/varieties/medium.jpg" alt="" data-width="400" data-height="257" tabindex="0" style="width: 597.665px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="741748">Hargrave-Andrew Library, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="741749" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0005/741749/varieties/medium.jpg" alt="" data-width="400" data-height="267" tabindex="0" style="width: 575.281px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="741749">Monash University reading room</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="741750" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0006/741750/varieties/medium.jpg" alt="" data-width="400" data-height="267" tabindex="0" style="width: 575.281px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="741750">Logan Hall, Clayton Urban Community, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="741751" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0007/741751/varieties/medium.jpg" alt="" data-width="400" data-height="267" tabindex="0" style="width: 575.281px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="741751">Monash University orientation festival</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="744504" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0006/744504/varieties/medium.jpg" alt="" data-width="400" data-height="267" tabindex="0" style="width: 575.281px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="744504">Logan Hall, Clayton Urban Community, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="744509" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0011/744509/varieties/medium.jpg" alt="" data-width="400" data-height="267" tabindex="0" style="width: 575.281px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="744509">Logan Hall, Clayton Urban Community, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="744514" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0007/744514/varieties/medium.jpg" alt="" data-width="400" data-height="253" tabindex="0" style="width: 607.115px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="744514">Strip2 Biomedical Sciences Building, 19 Innovation Walk, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="744512" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0005/744512/varieties/medium.jpg" alt="" data-width="400" data-height="267" tabindex="0" style="width: 575.281px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="744512">Monash University student activities</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="744515" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0008/744515/varieties/medium.jpg" alt="" data-width="400" data-height="255" tabindex="0" style="width: 602.353px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="744515">Biochemistry Laboratories Building, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="744513" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0006/744513/varieties/medium.jpg" alt="" data-width="400" data-height="267" tabindex="0" style="width: 575.281px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="744513">Monash University student activities</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="753213" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0003/753213/varieties/medium.jpg" alt="" data-width="7360" data-height="3976" tabindex="0" style="width: 710.825px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="753213">Strip1 Monash Biotechnology Building, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="753231" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0003/753231/varieties/medium.jpg" alt="" data-width="400" data-height="266" tabindex="0" style="width: 577.444px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="753231">Monash sport</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="asset inline-block wrap" data-asset="753263" role="gridcell" data-status="live" data-set-btm="auto" style="transition: initial; width: auto; height: auto;">
                                    <div class="tiny-padding">
                                        <div class="outer small-padding almost-trans-black-background small-round-corners">
                                            <div class="inner relative outline-shadow">
                                                <a class="block gallery-item no-line-height center no-overflow" href="#" aria-selected="false"><img class="small-round-corners relative" src="https://www.monash.edu/__data/assets/image/0008/753263/varieties/medium.jpg" alt="" data-width="5616" data-height="3744" tabindex="0" style="width: 576px;">
                                                    <div class="absolute right bottom left relative center">
                                                        <div class="padding mobile-padding absolute right bottom left trans-black-background white layer-1 pop-up-description transition no-mobile">
                                                            <p class="no-margin"><span class="block large mobile-smaller sans" data-editable="true" data-attribute="title" data-save-to="753263">New Horizons, Clayton campus</span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="large-padding"></div>
                        <div class="scrollbar trans-black-background pointer large-round-corners">
                            <div class="handle tiny-padding white-background semi-transparent large-round-corners" style="transform: translateZ(0px) translateX(0px); width: 127px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed top bottom left width-5 desktop-only layer-1 sly-left-controls transition">
                <div class="relative full-width full-height">
                    <a href="#" class="sly-prev absolute trans-black-background white padding vertical-padding block full-width always-middle-of-parent largerer center disabled" title="Slide left" aria-controls="gallery-741375" style="top: 276px; left: 0px;"><i class="fa fa-caret-left"></i></a>
                </div>
            </div>
            <div class="fixed top bottom right width-5 desktop-only layer-1 sly-right-controls transition">
                <div class="relative full-width full-height"><a href="#" class="sly-next absolute trans-black-background white padding vertical-padding block full-width always-middle-of-parent largerer center" title="Slide right" aria-controls="gallery-741375" style="top: 276px; left: 0px;"><i class="fa fa-caret-right"></i></a></div>
            </div>
        </div>
    </div>
</div>