<!-- Styles -->
<link href="../../lib/Public/CSS/Monash.Bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="./CSS/Monash.Forms.css" rel="stylesheet" type="text/css" media="all">
<link href="./CSS/Monash.Graphics.css" rel="stylesheet" type="text/css" media="all">
<link href="./CSS/Monash.Templates.css" rel="stylesheet" type="text/css" media="all">


<!-- Public Behaviours -->

<script src="JS/jQuery/jQuery.js"></script>
<script src="JS/jQuery.UI/jQuery.UI.js"></script>
<script src="JS/Plugins/jQuery.Easing/jQueryeasing.js"></script>
<script src="JS/Plugins/WebFont/webfont.js"></script>
<script src="JS/Plugins/Sly/sly.min.js"></script>
<script src="JS/behavs.js"></script>
<script src="JS/Monash.Gallery.js"></script>
<script src="JS/Monash.M.js"></script>
<script src="https://use.fontawesome.com/1aa066ba6a.js"></script>