<header class="fixed layer-1 top right left transition layer-1 white-style" style="transform: translate3d(0px, 0px, 0px);">
    <div class="page-wrapper white-background relative layer-1 black">
        <div class="master-wrap relative padding vertical-padding">
            <a class="inline-block site-logo squash-me use-hardware background-image black loaded" href="//monash.edu" title="Monash University">
                <div class="monash-shield background-image inline-block float-left transition loaded"></div>
                <!--
                         -->
                <div class="logo-text background-image inline-block float-left transition loaded"></div>
                <div class="inline-block float-left use-hardware"></div>
            </a>
            <div class="absolute right bottom mobile-half-width mobile-small align-right">
                <a class="inline-block no-underline black" href="http://www.monash.edu/united-states" title="United States">
                    <span class="block larger promo" data-attribute="name" data-editable="true" data-save-to="739409">United States</span>
                </a>
                <div class="small-padding mobile-smaller"></div>
            </div>
        </div>
    </div>
    <!--
             -->
    <div class="side-menu-overlay hidden absolute top right bottom left trans-black-background long-transition layer-1"></div>
    <!--
             -->
    <div class="absolute right site-menu-toggle hidden white-background medium-transition layer-1">
        <a class="block site-menu-toggle-button large-padding smaller blue-background" href="#" title="Toggle menu">
            <div class="inner full-height relative">
                <div class="line line-1 medium-transition"></div>
                <div class="line line-2 medium-transition"></div>
                <div class="line line-3 medium-transition"></div>
            </div>
        </a>
    </div>
    <!--
             -->
    <div class="header-nav absolute right left use-hardware" style="margin-top: -1px; display: block;">
        <!-- SITE.NAV -->
        <!--/SITE.NAV -->
        <div class="master-wrap tablet-initial mobile-initial initial">
            <div class="small mobile-smaller">
                <div class="relative sticky-nav-tracks one-pager-nav full-width transparent transition">
                    <div class="generated-ui page-menu-wrap helper overflow-initial relative top" style="overflow: hidden;">
                        <ul class="generated-ui no-list list-menu no-wrap one-pager-menu" data-asset="739412" data-result-layout="480777" role="tablist" style="transform: translateZ(0px); width: 1267px;">
                            <li class="generated-ui list-menu-item" data-asset="739416" style="width: auto; height: auto;">
                                <a aria-controls="page-section-1" aria-selected="true" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-1" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="739416">Home</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item" data-asset="739420" style="width: auto; height: auto;">
                                <a aria-controls="page-section-2" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-2" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="739420">Learn more</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item active" data-asset="739424" style="width: auto; height: auto;">
                                <a aria-controls="page-section-3" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-3" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="739424">Why choose a Monash degree?</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item" data-asset="739699" style="width: auto; height: auto;">
                                <a aria-controls="page-section-4" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-4" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="739699">Courses</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item" data-asset="740446" style="width: auto; height: auto;">
                                <a aria-controls="page-section-5" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-5" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="740446">Semester dates</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item" data-asset="750300" style="width: auto; height: auto;">
                                <a aria-controls="page-section-6" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-6" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="750300">About Melbourne</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item" data-asset="741361" style="width: auto; height: auto;">
                                <a aria-controls="page-section-7" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-7" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="741361">Finance options</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item" data-asset="741367" style="width: auto; height: auto;">
                                <a aria-controls="page-section-8" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-8" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="741367">Visas</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item" data-asset="741375" style="width: auto; height: auto;">
                                <a aria-controls="page-section-9" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-9" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="741375">Campus life</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item" data-asset="741380" style="width: auto; height: auto;">
                                <a aria-controls="page-section-10" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-10" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="741380">Meet us</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                            <li class="generated-ui list-menu-item" data-asset="746454" style="width: auto; height: auto;">
                                <a aria-controls="page-section-11" aria-selected="false" class="generated-ui block large no-underline short-transition relative" href="#" id="page-tab-11" role="tab">
                                    <span class="generated-ui undefined" data-attribute="short_name" data-editable="true" data-save-to="746454">Enquire now</span>
                                    <span class="generated-ui menu-active-item-marker absolute bottom right left margin-auto transition width-0"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="generated-ui absolute top right bottom left no-click swipe-menu-helper"></div>
                </div>
            </div>
        </div>
        <div class="off-white-background box-shadow">
            <div class="header-stickies master-wrap relative"></div>
        </div>
    </div>
</header>