<div class="asset trim- relative layer-0 no-overflow " style="margin:-1px;" data-asset="739424" data-name="Why choose a Monash degree?"
    data-layout-name="Page" data-style-field="506340" data-status="live" id="page-section-3" aria-labelledby="page-tab-3" role="tabpanel"
    data-slide-active="1" aria-hidden="false">
    <div class="inner full-height">
        <div class="absolute top right bottom left background-image cover large-padding layer-0 no-click off-white-background loaded"
            style="background-image:url(https://www.monash.edu/__data/assets/image/0005/749291/varieties/medium.jpg);" data-upload="true"
            data-background="background-image:url(https://www.monash.edu/__data/assets/image/0005/749291/varieties/medium.jpg);"></div>
        <div class="tall-padding"></div>
        <div class="tall-padding"></div>
        <div class="tall-padding mobile-only"></div>
        <div class="master-wrap relative full-height page-content layer-1 mobile-initial mobile-white-background use-hardware">
            <div class="width-50 tablet-width-66 relative white-background padding tablet-no-padding mobile-no-padding float-left align-left">
                <div class="relative top left padding black">
                    <div class="width-15 untrim border-top"></div>
                    <div class="small-padding"></div>
                    <h2 class="block large-headline" data-editable="true" data-attribute="name" tabindex="0">Why choose a Monash degree?</h2>
                    <div class="padding no-mobile"></div>
                    <div class="larger sans">
                        <p><i class="fa fa-graduation-cap" data-redactor-tag="i"></i> Access double degrees across 140 programs
                            </p>
                        <p><i class="fa fa-industry" data-redactor-tag="i"> </i> Build your career advantage with industry experience,
                            professional internships opportunities, leadership and volunteer roles </p>
                        <p><i class="fa fa-users" data-redactor-tag="i"></i> Tap into a global network of more than 310,000
                            alumni from around the world </p>
                        <p><i class="fa fa-briefcase" data-redactor-tag="i"></i> Learn from leading professionals within their
                            fields </p>
                        <p><i class="fa fa-globe" data-redactor-tag="i"></i> Deepen your international outlook while you study
                            with our many study abroad opportunities to complement your Australian experience </p>
                        <p><i class="fa fa-institution" data-redactor-tag="i"></i> Study in 21st century learning environments
                            at Australia’s largest university </p>
                        <p><i class="fa fa-line-chart" data-redactor-tag="i"></i> Ranked in the top 1% of world universities
                            - 74th in the world </p>
                    </div>
                    <div class="padding vertical-padding load-in-ani"><a href="#" class="one-pager-next-link block center larger button-padding small-round-corners no-underline black-background white no-mobile"
                            aria-controls="page-section-4" data-set-btm="auto" style="transition: initial;"><i class="fa fa-arrow-down"></i><span>Courses</span></a></div>
                </div>
                <div class="large-padding no-mobile"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>