<div id="content_container_795340">
  <div class="asset trim- relative layer-0 no-overflow"
       data-asset="821331"
       data-layout-name=""
       data-name="Tabs using row content"
       data-status="under_construction"
       id="tabs-using-row-content">
    <div class="inner full-height trans-white-background">
      <div class="master-wrap relative full-height page-content layer-1">
        <div class="padding"></div>
        <div class="tall-padding relative black">
          <div class="width-66 margin-auto">
            <h2 class="block center large-headline"
                data-attribute="name"
                data-editable="true"
                tabindex="0">Tabs, using row content</h2>
          </div>
          <div class="tall-padding">
            <div class="larger mobile-regular sans">
              <p>
                <p></p>
              </p>
            </div>
            <div class="standard-horizontal-sly relative helper">
              <ul class="no-list tab-menu align-left small no-wrap"
                  role="tablist"></ul>
            </div>
            <ul class="no-list child-list tabs">
              <li class="asset align-left tab relative"
                  data-asset="820487"
                  data-name="Applications open"
                  data-status="under_construction">
                <div class="">
                  <div class="inner">
                    <div class="white-background black relative">
                      <div class="width-66 inline-block absolute mobile-relative top bottom left">
                        <div class="background-image relative full-height trim cover"
                             style="background-image:url(https://monash.edu/_pear/dev/media/740603-740603-monash-tuscany.jpg);"></div>
                      </div>
                      <div class="width-33 left-66 mobile-initial relative inline-block">
                        <div class="padding large">
                          <span class="block larger promo"
                                data-attribute="name"
                                data-editable="true"
                                data-save-to="820487">Applications open</span>
                          <p>
                            <span class="block thin sans black"
                                  data-attribute="summary"
                                  data-editable="true"
                                  data-save-to="820487">
                              <p>9am, Monday 3 April 2017</p>
                            </span>
                          </p>
                          <div class="padding"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="asset align-left tab relative"
                  data-asset="820488"
                  data-name="Applications close"
                  data-status="under_construction">
                <div class="">
                  <div class="inner">
                    <div class="white-background black relative">
                      <div class="width-66 inline-block absolute mobile-relative top bottom left">
                        <div class="background-image relative full-height trim cover"
                             style="background-image:url(https://monash.edu/_pear/dev/media/740583-740583-Monash-research.jpg/small.jpg);"></div>
                      </div>
                      <div class="width-33 left-66 mobile-initial relative inline-block">
                        <div class="padding large">
                          <span class="block larger promo"
                                data-attribute="name"
                                data-editable="true"
                                data-save-to="820488">Applications close</span>
                          <p>
                            <span class="block thin sans black"
                                  data-attribute="summary"
                                  data-editable="true"
                                  data-save-to="820488">
                              <p>12pm (noon), Friday 28 April 2017</p>
                            </span>
                          </p>
                          <div class="padding"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="asset align-left tab relative"
                  data-asset="820489"
                  data-name="Shortlist interviews"
                  data-status="under_construction">
                <div class="">
                  <div class="inner">
                    <div class="white-background black relative">
                      <div class="width-66 inline-block absolute mobile-relative top bottom left">
                        <div class="background-image relative full-height trim cover"
                             style="background-image:url(https://monash.edu/_pear/dev/media/740583-740583-Monash-research.jpg/small.jpg);"></div>
                      </div>
                      <div class="width-33 left-66 mobile-initial relative inline-block">
                        <div class="padding large">
                          <span class="block larger promo"
                                data-attribute="name"
                                data-editable="true"
                                data-save-to="820489">Shortlist interviews</span>
                          <p>
                            <span class="block thin sans black"
                                  data-attribute="summary"
                                  data-editable="true"
                                  data-save-to="820489">1-12 May 2017</span>
                          </p>
                          <div class="padding"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="asset align-left tab relative"
                  data-asset="820490"
                  data-name="Participants announced"
                  data-status="under_construction">
                <div class="">
                  <div class="inner">
                    <div class="white-background black relative">
                      <div class="width-66 inline-block absolute mobile-relative top bottom left">
                        <div class="background-image relative full-height trim cover"
                             style="background-image:url(./?a=);"></div>
                      </div>
                      <div class="width-33 left-66 mobile-initial relative inline-block">
                        <div class="padding large">
                          <span class="block larger promo"
                                data-attribute="name"
                                data-editable="true"
                                data-save-to="820490">Participants announced</span>
                          <p>
                            <span class="block thin sans black"
                                  data-attribute="summary"
                                  data-editable="true"
                                  data-save-to="820490">Week beginning Monday 22 May 2017</span>
                          </p>
                          <div class="padding"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="asset align-left tab relative"
                  data-asset="820491"
                  data-name="Student briefing day (compulsory)"
                  data-status="under_construction">
                <div class="">
                  <div class="inner">
                    <div class="white-background black relative">
                      <div class="width-66 inline-block absolute mobile-relative top bottom left">
                        <div class="background-image relative full-height trim cover"
                             style="background-image:url(./?a=);"></div>
                      </div>
                      <div class="width-33 left-66 mobile-initial relative inline-block">
                        <div class="padding large">
                          <span class="block larger promo"
                                data-attribute="name"
                                data-editable="true"
                                data-save-to="820491">Student briefing day (compulsory)</span>
                          <p>
                            <span class="block thin sans black"
                                  data-attribute="summary"
                                  data-editable="true"
                                  data-save-to="820491">TBC. Week beginning Monday 19 June 2017</span>
                          </p>
                          <div class="padding"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
