<div id="content_container_819911">
    <div id="space-video" data-name="Space video" class="asset trim- relative no-overflow layer-0">
        <div class="inner full-height black-background">
            <div class="video-container relative master-wrap mobile-initial">
                <iframe src="//www.youtube.com/embed/TmeZ0lMDkrw?rel=0&amp;showinfo=0" class="full-screen-video" frameborder="0" title="YouTube Video"></iframe>
                <div class="play-video absolute top right bottom left larger pointer">
                    <div class="absolute top right bottom left white-background semi-transparent">
                    </div>
                    <div class="absolute always-middle-of-parent">
                        <a href="#" class="trim circle inline-block large-headline play-video-button" title="Play video" aria-controls="video-section-819981">
                            <i class="fa fa-play"></i>
                        </a>
                        <span class="block center padding  no-mobile">Play video</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>