/* One Pager */

.sticky-nav-tracks .list-menu > li {
  padding: 0.55em;
  background-color: #eee;
}

.sticky-nav-tracks .list-menu > li > a {
  color: #555;
  padding: 0.35em;
}

header.black-style .sticky-nav-tracks .list-menu > li {
  background-color: #161616;
}

header.black-style .sticky-nav-tracks .list-menu > li > a {
  color: #ddd;
}

header .sticky-nav-tracks .list-menu > li.active > a {
  color: #0d74e6;
}

header.black-style .sticky-nav-tracks .list-menu > li.active > a {
  color: #fff;
}

.menu-active-item-marker.absolute {
  height: 3px;
  bottom: -3px;
  background-color: #ccc;
}

li.active .menu-active-item-marker {
  width: 100%;
}

li.active .menu-active-item-marker {
  background-color: #0d74e6;
}

.one-pager-editor-navigator li.active-item .asset-marker {
  opacity: 1;
  background-color: #fff;
}

/* Overflow helper */

.swipe-menu-helper {
  background: linear-gradient(to right, transparent 90%, rgba(0, 0, 0, 0.2));
}

header.black-style .swipe-menu-helper {
  background: linear-gradient(to right, transparent 90%, rgba(0, 0, 0, 0.65));
}

/* Scroll to top button */

.return-to-top-navigation {
  transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -moz-transform: translate3d(100px, 0px, 0px);
  -ms-transform: translate3d(100px, 0px, 0px);
}

.scrolled-down .return-to-top-navigation {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
}

/* Desktop only */
@media only screen and (min-width: 1100px) {
  li:hover .menu-active-item-marker {
    width: 100%;
  }
}
