/*********************/
/* SEARCH BOX STYLES */
/*********************/

.search-box--news-lhs,
.search-box--news-rhs {
  display: flex;
  padding: 1%;
  width: 48%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: baseline;
}

.search-box--news__heading,
.search-box--browse__heading,
.search-box--news__input,
.search-box--news__controls,
.search-box--browse__controls,
.search-box--browse__wrapper,
#search-news-keywords,
#search-events-keywords {
  width: 100%;
  position: relative;
}

.search-box--news__select,
.search-box--news-events__select {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  padding: 0.25em;
  border: 1px solid #ddd;
  min-width: 30%;
}

.search-box--news__button,
.search-box--browse__button,
.search-box--news-events-browse-lhs {
  margin-top: 0.25rem;
  padding: 0.5em;
  font-size: 1.2rem;
}

.search-box--news__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.search-box--browse__label {
  background-color: white;
  padding: 0.5em;
  resize: none;
  border: 1px solid #ddd;
  cursor: pointer;
  position: relative;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;
}

ul.search-box--browse__category-list {
  margin: 0;
  background-color: white;
  padding: 0.25rem;
  list-style: none;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 45%;
  justify-content: space-between;
}

.search-box--browse__control {
  background-color: #fff;
  padding: 0.25rem;
}

.search-box--browse__list {
  display: none;
}

.search-box--browse__list.browse__list-show {
  display: block;
  position: absolute;
  z-index: 10;
  border: 1px solid #ddd;
}

.search-box--browse__category-list li {
  width: 50%;
  padding-top: 0.25rem;
}

.search-box--browse__selected-categories {
  display: block;
  font-size: 0.85em;
  text-transform: capitalize;
}

.search-box--browse__control {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.25rem 0.2rem;
}

.search-box--browse__control button {
  width: 10rem;
  max-width: 70%;
  padding: 0.25rem 0.2rem;
  margin: 0.2rem;
}

/***************************/
/* COMBINED LISTING STYLES */
/***************************/

.content__news-events #seach-news {
  width: 66%;
}

.content__news-events {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.content__news-events #search-news {
  width: 72%;
}

.content__news-events .content-inner__rhs {
  width: 27%;
}

/***********************/
/* NEWS LISTING STYLES */
/***********************/

.box-listing-element__group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.box-listing-element__wrapper {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 47%;
}

.box-listing-element__layout-3-col .box-listing-element__wrapper {
  width: 33%;
}

.box-listing-element {
  background-color: white;
  border-bottom: 1px solid #006dae;
  position: relative;
  width: 100%;
}

#news-events-list .box-listing-element__heading-link,
#news-events-list .box-listing-element__category-link {
  text-decoration: none;
}

#news-events-list .box-listing-element__wrapper {
  transition: width 1s;
}

.box-listing-element__thumb-link {
  display: block;
}

.box-listing-element__thumb-image {
  width: 100%;
}

.box-listing-element--events .box-listing-element__heading-link {
  padding: 1.68rem 1rem;
}

/*************************/
/* EVENTS LISTING STYLES */
/*************************/

.box-listing-element--events,
.box-listing-element--enquiries {
  background-color: transparent;
  border-bottom: 0 none;
  flex-direction: column;
}

.box-listing-element__events-list {
  counter-reset: counter-ol;
  list-style-type: none;
}

.box-listing-element__enquiries-list,
.box-listing-element__events-list {
  margin: 0;
  padding: 0;
}

.box-listing-element__events-list li::before {
  content: "";
  margin-left: 0;
  margin-right: 0;
}

.box-listing-element__events-item:first-child .event-summary {
  margin-top: 0;
}

.box-listing-element a {
  text-decoration: none;
}

.box-listing-element__events-item a {
  display: flex;
}

.event-summary {
  background-color: #fff;
  display: flex;
  margin-top: 1px;
  padding: 0.5rem;
}

#full-page-events .event-summary__date {
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin-right: 1rem;
  padding: 0.75rem 0;
  width: 7rem;
}

.event-summary__date {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-right: 1rem;
  padding: 0.75rem 0;
  width: 4rem;
}

.event-summary__date {
  background-color: #f6f6f6;
  color: #505050;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  font-family: "Century Schoolbook", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  justify-content: center;
  line-height: 1.2rem;
  text-align: center;

  font-size: 1.125rem;
  line-height: 1.2rem;
  margin-right: 2rem;
  padding: 0.8rem 0;
  width: 4.5rem;
}

.event-summary__date-day,
.event-summary__date-month,
.event-summary__date-end-label {
  display: block;
  width: 100%;
}

.events-wrapper h4 {
  font-size: 18px;
  color: #006dae;
  margin-bottom: 0.625rem;
}

.events-wrapper p {
  font-size: 1.07rem;
}

.events-wrapper .date {
  margin: 0;
}

.events-wrapper p {
  font-size: 1.07rem;
}

.events-wrapper .description {
  margin-top: 0;
}

.box-listing-element__events-item {
  border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
}

/******************/
/* GENERAL STYLES */
/******************/

.btn--view-more {
  margin: 1rem auto;
  display: block;
}

.spinner.view-more {
  height: 3rem;
  margin: 1.375rem auto 2rem;
  width: 2.5rem;
}
.spinner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.spinner > div {
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  background-color: #006dae;
  display: inline-block;
  height: 100%;
  width: 0.375rem;
}

.spinner > div:nth-child(2),
.spinner > div:nth-child(4) {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.spinner > div:nth-child(1),
.spinner > div:nth-child(5) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

/*****************/
/* MOBILE STYLES */
/*****************/

@media only screen and (max-width: 736px) {
  .search-box--news-lhs,
  .search-box--news-rhs,
  #news-events-list .box-listing-element__wrapper,
  .content__news-events #search-news,
  .content__news-events .content-inner__rhs {
    width: 100%;
  }
}

@media only screen and (max-width: 60em) {
  #full-page-events .event-summary__date {
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin-right: 1rem;
    padding: 0.75rem 0;
    width: 7rem;
  }
  .event-summary__date {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-right: 1rem;
    padding: 0.75rem 0;
    width: 4rem;
  }
}
