/*
    Base styles
*/

input[type=submit],
input[type=button],
input[type=reset],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

form label {
    display: block;
}

.mktoAsterix {
    padding: 0 .5em 0 0;
    color: #ff0000;
}

.mktoAsterix,
input[type=checkbox]+label {
    display: inline-block;
}

.mktoError {
    position: absolute;
    right: initial !important;
    bottom: initial !important;
}

form label,
.mktoClear {
    padding: .25em;
}

input,
select,
textarea {
    font-size: 1.2em;
}

input[type=text],
input[type=number],
input[type=tel],
input[type=email],
textarea {
    padding: .5em;
    resize: none;
    border: 1px solid #ddd;
}

textarea {
    min-width: 20em;
    min-height: 6em;
}

input[type=checkbox]+label:before {
    color: #ddd;
}

input[type=checkbox]+label:before,
input[type=checkbox]:checked+label:before {
    -webkit-text-stroke-width: 0 !important;
    font-size: 1.45em !important;
    line-height: 1rem;
    content: "\f111";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    text-rendering: auto;
    vertical-align: middle;
    margin: 0 .35em 0 0;
}

input[type=checkbox]:checked+label:before {
    content: "\f058";
}


/**************

    SQUIZ FORMS

**************/

.sq-form-question-answer input[type=text],
.sq-form-question-answer textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    margin: 5px 1px 3px 0px;
    border: 1px solid #006dae;
}

.sq-form-question-answer input:focus,
.sq-form-question-answer textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(0, 109, 174, 1);
}

.sq-form-question-title {
    font-size: 1.2em;
    font-weight: 700;
    padding: 0;
}

.sq-form-question.sq-form-question-text {
    margin: 1.5em 0;
}