/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

/* @media all and (min-width: 600px) {
    .nav-collapse ul {
      max-width: 50%;
    }
  } */
.max-width-50 {
  max-width: 50%;
}

.nav-li-block {
  width: 100%;
  display: block;
  border-bottom: none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  top: 0;
  left: 0;
  display: block;
  /* overflow: hidden; */
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-right: 5%;
}

#main-navigation-sidemenu .menu-active-item-marker {
  display: none;
}
@media screen and (min-width: 60em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 60em) {
  .nav-collapse li {
    width: 100%;
    display: block;
  }
  .nav-collapse.opened ul {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
  .js .nav-collapse {
    transform: translateX(-100%);
    -webkit-transition: all 0.3s ease 0.3s;
    -moz-transition: all 0.3s ease 0.3s;
    transition: all 1s ease 1s;
    height: 100%;
  }
  .nav-collapse.opened {
    transform: translateX(0);
    -webkit-transition: all 0.3s ease 0.3s;
    -moz-transition: all 0.3s ease 0.3s;
    transition: all 1s ease 1s;
  }

  .nav-toggle {
    min-width: 20px;
  }
}
.active .fa-bars:before {
  content: "\f00d";
  transition: all 0.5s ease 0.3s;
}

