.content-slider {
      background-color: #544f4f;
    }

    .content-slider:after{
    content:"";
    position:absolute;
    left:0px;
    top:0px;
    height: 100%;
    width:266px;
    border-left: 20px solid #00779b;
    }


    .js-trigger {
      width: 110px;
      left: -130px;
      margin-top: 2em; 
      padding: 10px; 
      position: absolute; 
      background-color:#2e2e2e; 
      cursor: pointer; 
      color:aliceblue;
    }
    .js-trigger--active {
      width: 10px;
      left: -30px;
    }

    .active .fa-chevron-left::before {
      content: "\f054";
    }

    #slider {
        top: 220px;        
      }
    @media all and (min-width:700px) {
      #slider { max-width: 45%; }
    }

    @media all and (max-width: 600px) {
      #trigger {
        position: fixed;
        top: -33px;
        left: 0;
        right: 0;
        width: 100%;
        padding: 1em;
      }

      #slider {
        top: 52px;
      }

      .content-slider .fa-chevron-left::before {
        content: "\f054";
      }

      .content-slider .active .fa-chevron-left::before {
        content: "\f00d";
      }
    }