/*
*
*
*    Internet Explorer Styles and Bug Fixes
*    jeremy.hewitt@monash.edu
*
*
*/


.background-image.fixed,
.asset-list .asset .fixed {
    position: absolute !important;
}

.overflow-initial, .standard-horizontal-sly {
    overflow: inherit !important;
}

video.full-width {
    height: 14em;
}


    
        /*
            Pop Colours
        */

        /* Blue */

        .trim-Blue .stroke,
        .asset.trim-Blue .stroke {
            color: #187ff1;
        }


        /* Purple */

        .trim-Purple .stroke,
        .asset.trim-Purple .stroke {
            color: #720bff;
        }


        /* Red */

        .trim-Red .stroke,
        .asset.trim-Red .stroke {
            color: #e0002e;
        }


        /* Green */

        .trim-Green .stroke,
        .asset.trim-Green .stroke {
            color: #0c8f49;
        }


        /* Pink */

        .trim-Pink .stroke,
        .asset.trim-Pink .stroke {
            color: #ff1952;
        }


        /* Black */

        .trim-Black .stroke,
        .asset.trim-Black .stroke {
            color: #353535;
        }


        /* Fuscia */

        .trim-Fuscia .stroke,
        .asset.trim-Fuscia .stroke {
            color: #e31457;
        }


        /* Orange */

        .trim-Orange .stroke,
        .asset.trim-Orange .stroke {
            color: #ff3605;
        }


        /* Olive */

        .trim-Olive .stroke,
        .asset.trim-Olive .stroke {
            color: #7f9f36;
        }


        /* Umber */

        .trim-Umber .stroke,
        .asset.trim-Umber .stroke {
            color: #8d4530;
        }


        /* Ruby */

        .trim-Ruby .stroke,
        .asset.trim-Ruby .stroke {
            color: #e00073;
        }